<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>LAN-Talk</display-name>
 	
  	<servlet>
  		<servlet-name>LANTalkServlet</servlet-name>
  		<servlet-class>dhbw.lan.lantalk.servlet.LANTalkServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
	  	<servlet-name>LANTalkServlet</servlet-name>
  		<url-pattern>/*</url-pattern>
  	</servlet-mapping>
  	
</web-app>